<form
  [formGroup]="form"
  (ngSubmit)="handleSubmit()"
  class="flex flex-wrap items-center gap-3 rounded-xl bg-white w-full px-4 py-3"
>

  <input
    type="text"
    autofocus
    class="flex-1 min-w-[200px] border rounded-xl text-gray-800 focus:outline-none focus:border-indigo-300 px-4 h-10"
    [placeholder]="placeholder()"
    formControlName="prompt"
  />

  <select
    formControlName="selectedOption"
    class="flex-1 min-w-[180px] border rounded-xl text-gray-800 focus:outline-none focus:border-indigo-300 px-4 h-10">
    <option value="">Seleccione</option>
    @for (option of options(); track option.id) {
      <option [value]="option.id">{{ option.text }}</option>
    }
  </select>

  <button
    class="btn-primary flex-shrink-0"
    type="submit"
    [disabled]="form.invalid"
  >
    <span class="mr-2">Enviar</span>
    <i class="fa-regular fa-paper-plane"></i>
  </button>

</form>
